@import './styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 410px;
    margin: 0 auto;

    & .progressBar {
        flex: 3 0 auto;
    }
}

.optionsContainer {
    background-color: $optionBackground;
    width: 375px;
    margin-bottom: 30px;
    border-radius: 100px
}

.optionsList {
    list-style-type: none;
    margin: 0, 10px, 5px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.settings {
    margin: 20px;
}